{% extends 'bootstrap/base.html' %} 
{% block styles %} 
  {{super()}}
  <link rel="stylesheet" href="{{url_for('.static', filename='css/style.css')}}" />
{% endblock %} 

{% if title %}
  <title>{{ title }} - ParkingPal</title>
{% else %}
  <title>Welcome to ParkingPal</title>
{% endif %} 

{% block content %}
<div class="container-xl mt-3">
  <!-- Alert messages, if we need them -->
  {% with messages = get_flashed_messages() %} {% if messages %} {% for message
  in messages %}
  <div class="alert alert-danger" role="alert">{{ message }}</div>
  {% endfor %} {% endif %} {% endwith %} 
  
  <!-- Child content usually goes here -->
  {% block app_content %}{% endblock %}
</div>

{% block footer %}
<footer class="footer">
  <div class="container">
    <span class="text-muted">© 2020 CS1699 Group C</span>
  </div>
</footer>
{% endblock %} 

{% endblock %}
