{% extends 'base.html' %} 

{%block app_content%}
  <div class="container">
    <div class="header clearfix">
      <h3 class="text-muted">PittParkingPal</h3>
    </div>

    <div class="jumbotron bg-cover text-white">
      <div class="container">
        <h1 class="display-4">Find parking in Pittsburgh by utilizing AI</h1>
        <p class="lead">
          Our model will help you find the best place to park in Pittsburgh's
          neighborhoods
        </p>
        <a class="btn btn-primary btn-lg" href="{{url_for('map') }}" role="button">Find Parking</a>
      </div>
    </div>
  </div>
  <!-- /container -->

{% endblock %}
