{% extends 'base.html' %} {%block app_content%}
<div class="container">
  <div class="header clearfix">
    <h3 class="text-muted">PittParkingPal</h3>
  </div>

  <div class="jumbotron bg-cover text-white">
    <div class="container">
      <h1 class="display-4">Find parking in Pittsburgh by utilizing AI</h1>
      <p class="lead">
        Our model will help you find the best place to park in Pittsburgh's
        neighborhoods
      </p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
  </div>
    <div class="row marketing">
      <div class="col-lg-6">
        <h4>Subheading</h4>
        <p>
          Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras
          mattis consectetur purus sit amet fermentum.
        </p>

        <h4>Subheading</h4>
        <p>
          Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras
          mattis consectetur purus sit amet fermentum.
        </p>

        <h4>Subheading</h4>
        <p>
          Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras
          mattis consectetur purus sit amet fermentum.
        </p>
      </div>

      <div class="col-lg-6">
        <h4>Subheading</h4>
        <p>
          Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras
          mattis consectetur purus sit amet fermentum.
        </p>

        <h4>Subheading</h4>
        <p>
          Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras
          mattis consectetur purus sit amet fermentum.
        </p>

        <h4>Subheading</h4>
        <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
      </div>
    </div>
  </div>
  <!-- /container -->

  {% endblock %}
</div>
