{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}


{%block app_content%}

<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>

<div class="container">

    <h1 style="text-align:center; margin:1em;">Where do you want to park?</h1>
    {{ wtf.quick_form(form) }}
    <br>
    <div id="map" style="height: 800px;"></div>

    <div id="accordion" class="mt-5">
        {% for meter in meters %}
        <div class="card">
          <div class="card-header" id="meter{{loop.index}}">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{loop.index}}" aria-expanded="false" aria-controls="collapse{{loop.index}}">
                Meter {{meter.id}}
              </button>
            </h5>
          </div>
      
          <div id="collapse{{loop.index}}" class="collapse" aria-labelledby="meter{{loop.index}}">
            <div class="card-body">
              <p>
                  Lon: {{meter.lon}}<br>
                  Lat: {{meter.lat}}<br>
                  Prediction: {{meter.prediction}}
              </p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

</div>

<script type="text/javascript">
    // The first parameter are the coordinates of the center of the map
    // The second parameter is the zoom level
    loc = {{user_location | tojson }};
    lat = loc[0];
    lon = loc[1];
    cords = [lat,lon];
    var map = L.map('map').setView(cords, {{zoom}});

    // {s}, {z}, {x} and {y} are placeholders for map tiles
    // {x} and {y} are the x/y of where you are on the map
    // {z} is the zoom level
    // {s} is the subdomain of cartodb
    var layer = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>'
    });

    var meters = {{meters | tojson}};
    var markers = [];

    var greenIcon = new L.Icon({
        iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-green.png',
        shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
    });

    var yellowIcon = new L.Icon({
        iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-yellow.png',
        shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
    });

    var redIcon = new L.Icon({
        iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-red.png',
        shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
    });

    var blueIcon = new L.Icon({
        iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-blue.png',
        shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
    });

    meters.forEach(function(element) {
        if(element.prediction > .8)
            markers.push(new L.Marker([element.lat,element.lon], {icon: greenIcon}).bindPopup(element.prediction));
        else if(element.prediction > .5)
            markers.push(new L.Marker([element.lat,element.lon], {icon: yellowIcon}).bindPopup(element.prediction));
        else
            markers.push(new L.Marker([element.lat,element.lon], {icon: redIcon}).bindPopup(element.prediction));
        markers[markers.length - 1].addTo(map);
    });
    
    if(markers.length != 0)
        new L.Marker([cords[0],cords[1]], {icon:blueIcon}).addTo(map);

    // Now add the layer onto the map
    map.addLayer(layer);
</script>

{%endblock%}