{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}


{%block app_content%}

<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>

<div class="container">

    <h1 style="text-align:center; margin:1em;">Where do you want to park?</h1>
    {{ wtf.quick_form(form) }}
    <br>
    <div id="map" style="height: 800px;"></div>

</div>

<script type="text/javascript">
    // The first parameter are the coordinates of the center of the map
    // The second parameter is the zoom level
    loc = '{{user_location}}'.replace('(','').replace(')','').replace(' ','');
    lat = parseFloat(loc.split(',')[0]);
    lon = parseFloat(loc.split(',')[1]);
    cords = [lat,lon];
    var map = L.map('map').setView(cords, parseInt('{{zoom}}}'));

    // {s}, {z}, {x} and {y} are placeholders for map tiles
    // {x} and {y} are the x/y of where you are on the map
    // {z} is the zoom level
    // {s} is the subdomain of cartodb
    var layer = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>'
    });

    var meters = '{{meters}}';
    meters = meters.replace('[','').replace(']','')
    meters = meters.replaceAll('&#39;','');
    meters = meters.replaceAll('{','').replaceAll('},','}');
    meters = meters.replaceAll(' ','');
    meters = meters.split('}');
    var markers = [];

    var greenIcon = new L.Icon({
        iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-green.png',
        shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
    });

    var yellowIcon = new L.Icon({
        iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-yellow.png',
        shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
    });

    var redIcon = new L.Icon({
        iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-red.png',
        shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
    });

    var blueIcon = new L.Icon({
        iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-blue.png',
        shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
    });

    for(i = 0; i < meters.length-1; i++) {
        lat = parseFloat(meters[i].split(',')[1].split(':')[1]);
        lon = parseFloat(meters[i].split(',')[2].split(':')[1]);
        prediction = meters[i].split(',')[3].split(':')[1];
        if(prediction > .8)
            markers.push(new L.Marker([lat,lon], {icon: greenIcon}).bindPopup(prediction));
        else if(prediction > .5)
            markers.push(new L.Marker([lat,lon], {icon: yellowIcon}).bindPopup(prediction));
        else
            markers.push(new L.Marker([lat,lon], {icon: redIcon}).bindPopup(prediction));
        markers[i].addTo(map);
    }
    
    if(markers.length != 0)
        new L.Marker([cords[0],cords[1]], {icon:blueIcon}).addTo(map);

    // Now add the layer onto the map
    map.addLayer(layer);
</script>

{%endblock%}