{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{%block app_content%}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
crossorigin=""></script>

<div class="container-fluid">

  <div class="row">
    <!-- Desktop form -->
    <div class="d-none d-lg-block col-lg-3 col-xl-2" id="form-column">
      <h1 class="mb-3">Where do you want to park?</h1>
      {{ wtf.quick_form(form) }}
    </div>
    <div class="col px-0">
      <div id="map">
        <!-- Mobile form -->
        <div class="d-flex d-lg-none" id="mobile-form">
          <div class="card">
            <div class="collapse{% if not meters %} show{% endif %}" id="form-collapse">
              <div class="card-body pb-3">
                <form method="POST" action="{{url_for('map')}}">
                  <div class="form-group">
                    {{ form.location.label }} 
                    {{ form.location(class="form-control") }}
                  </div>
                  <div class="form-group mb-0">
                    <div class="row">
                      <div class="col">
                        {{ form.date.label }} 
                        {{ form.date(class="form-control") }}
                      </div>
                      <div class="col">
                        {{ form.time.label }} 
                        {{ form.time(class="form-control") }}
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    {{ form.distance.label }} 
                    {{ form.distance(class="form-control") }}
                  </div>
                  {{ form.submit(class="btn btn-primary w-100") }}
                </form>
              </div>
            </div>
            <div class="card-footer py-0">
              <button class="btn btn-link w-100 px-0{% if meters %} collapsed{% endif %}" id="form-button" type="button" data-toggle="collapse" data-target="#form-collapse" aria-expanded="true" aria-controls="form-collapse">
                <i class="fas fa-chevron-up"></i>
                <i class="fas fa-chevron-down"></i>
              </button>
            </div>
          </div>
        </div>

        <!-- Meter list -->
        {% if meters %}
        <div id="list">
          <div class="card">
            <div class="card-header py-0">
              <button class="btn btn-link w-100 px-0 collapsed" id="list-button" type="button" data-toggle="collapse" data-target="#list-collapse" aria-expanded="false" aria-controls="list-collapse">
                <i class="fas fa-chevron-up"></i>
                <i class="fas fa-chevron-down"></i>
              </button>
            </div>
            <div class="card-body py-1">
              <div class="collapse w-100" id="list-collapse">
                <div id="accordion" class="w-100">
                  {% for meter in meters %}
                  <div class="card">
                    <div class="card-header" id="meter{{loop.index}}">
                      <button class="btn btn-link
                      {% if meter.prediction <= 0.4 %}
                      green
                      {% elif meter.prediction <= 0.8 %}
                      yellow
                      {% else %}
                      red
                      {% endif %}"
                      data-toggle="collapse" data-target="#collapse{{loop.index}}" aria-expanded="false" aria-controls="collapse{{loop.index}}">
                        Meter {{meter.id}}
                      </button>
                    </div>
                
                    <div id="collapse{{loop.index}}" class="collapse" aria-labelledby="meter{{loop.index}}">
                      <div class="card-body px-0 pt-1 pb-3">
                        <p class="mb-0">
                            Lon: {{meter.lon}}<br>
                            Lat: {{meter.lat}}<br>
                            Prediction: {{meter.prediction}}<br>
                            Price: {{meter.price}}
                        </p>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div> 
            </div>
          </div> 
        </div>
        {% endif %}
      </div>
    </div>
  </div>

</div>

<script type="text/javascript">
    // The first parameter are the coordinates of the center of the map
    // The second parameter is the zoom level
    loc = {{user_location | tojson }};
    lat = loc[0];
    lon = loc[1];
    cords = [lat,lon];
    var map = L.map('map').setView(cords, {{zoom}});

    // {s}, {z}, {x} and {y} are placeholders for map tiles
    // {x} and {y} are the x/y of where you are on the map
    // {z} is the zoom level
    // {s} is the subdomain of cartodb
    var layer = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>'
    });

    var meters = {{meters | tojson}};
    var markers = [];

    var greenIcon = new L.Icon({
        iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-green.png',
        shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
    });

    var yellowIcon = new L.Icon({
        iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-yellow.png',
        shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
    });

    var redIcon = new L.Icon({
        iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-red.png',
        shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
    });

    var blueIcon = new L.Icon({
        iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-blue.png',
        shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
    });

    meters.forEach(function(element) {
        if(element.prediction <= 0.4)
            markers.push(new L.Marker([element.lat,element.lon], {icon: greenIcon}).bindPopup(element.prediction.toString()));
        else if(element.prediction <= 0.8)
            markers.push(new L.Marker([element.lat,element.lon], {icon: yellowIcon}).bindPopup(element.prediction.toString()));
        else
            markers.push(new L.Marker([element.lat,element.lon], {icon: redIcon}).bindPopup(element.prediction.toString()));
        markers[markers.length - 1].addTo(map);
    });
    
    if(markers.length != 0)
        new L.Marker([cords[0],cords[1]], {icon:blueIcon}).addTo(map);

    // Now add the layer onto the map
    map.addLayer(layer);
</script>

{%endblock%}

{% block footer %}{%endblock%}
